* {
  box-sizing: border-box;
}

header{
background-color: rgb(67, 65, 65);
 
}
 /* html * { this allows me to see the box borders which help me target specific boxes.
  border: solid black 1px;
}   */

nav {
  width: 960px;
  margin:.5rem auto;
  display:flex;
}

ul {
display: flex; 
margin: 30px;
justify-content: space-between;
width:100%;
}
a {
  color: gray;
  
}


main{
  width: 960px;
  margin: 30px auto 0 auto;
  /*this means top right bottom left */
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

main img{
  margin-bottom: 30px;
  background-color: black;
}
article{
  width: 450px;
  height: 400px;
}

article section{
  height: 320px;
  overflow: auto;
}

footer{
  background-color: black;
  height: 50px;
}
